<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNAP | @{{username}}'s Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<style>
:root {
    --btn-gradient: linear-gradient(to right, #25aae1, #40e495, #25aae1);
    --bg-gradient: linear-gradient(45deg, #FDB99B, #ffff1c, #67b26f, #4ca2cd, #3B4371, #2F0743);
}

* {
    box-sizing: border-box;
}

#left-panel,
#right-panel {

}

#bottom-panel {
    width: 100vw;
    padding: 0;
}

#info-container {
    margin-top: 250px;
}

#background {
    width: 100vw !important;
    height: 100vh !important;
    background-color: white;
}

#user-background {
    background-color: #313131;
    height: 250px;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
}

.crop img {
    height: 100%;
    width: auto;
}

.name-container {
    margin-top: 100px;
}

#info-col {
    width: 100%;
}

#pfp {
    margin-top: 125px;
}

.text-muted {
    margin-bottom: 0;
}
</style>
<body>
{{!-- Navbar Start --}}
<nav class="navbar fixed-top navbar-expand-lg bg-light shadow-lg" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/snap-logo.png" alt="Snap! Logo" height="70px" width="auto">
            <em><strong>Snap!</strong></em> Web Hosting
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" id="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/articles/read_more">Articles</a>
            </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary btn-md mx-2 login-btn" href="/home">Log Out</a>
            </li>
        </ul>
        </div>
    </div>
</nav>
{{!-- Navbar End --}}
    <div class="container-fluid" id="background">
        {{#if username}}
        <div class="row justify-content-center" id="user-background">
            <div class="col-auto position-absolute" id="left-panel">
                <div class="row justify-content-center mt-4">
                    <div class="crop card-images rounded-circle" id="pfp">
                        <img src="{{pfpURL}}" alt="{{username}}'s profile photo">
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-center" id="bottom-panel">
                <div class="col-auto mx-auto" id="info-col">
                    <div class="py-2 px-5 rounded d-flex flex-column align-items-center shadow-lg" id="info-container">
                        <div class="info text-center">
                            <div class="name-container container-fluid d-flex justify-content-center mb-3">
                                <div class="col-auto text-center px-1">
                                    <h5 class="text-dark font-weight-light">{{fullName}}</h5>
                                </div>
                                <div class="col-auto text-center px-1">
                                    <p class="text-muted font-weight-light">(@{{username}})</p>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-md-row align-items-center mb-4">
                                <div class="col-auto px-3 py-3 d-flex align-items-center">
                                    <i class="fa-solid fa-envelope me-3"></i><p class="text-muted">{{email}}</p>
                                </div>
                                <div class="col-auto px-3 py-3 d-flex align-items-center">
                                    {{#if phoneNumber}}<i class="fa-solid fa-phone me-3"></i><p class="text-muted">{{phoneNumber}}</p>{{/if}}
                                </div>
                                <div class="col-auto px-3 py-3 d-flex align-items-center">
                                    <i class="fa-solid fa-building me-3"></i><p class="text-muted">{{companyName}}</p>
                                </div>
                                <div class="col-auto px-3 py-3 d-flex align-items-center">
                                    <i class="fa-solid fa-thumbtack me-3"></i><p class="text-muted">{{city}}, {{country}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{#else}}

        {{/else}}
    </div>
{{!-- Footer Start --}}
<ul class="nav d-flex justify-content-center align-items-center flex-column shadow-lg">
    <div class="nav-links d-flex my-5">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/articles/read_more">Articles</a>
        </li>
            <li class="nav-item">
            <a class="nav-link" href="/user/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/login">Login</a>
        </li>
    </div>
    <div class="footer">
        <div class="div mx-auto mb-5" style="width:50px;height:1px;background-color:rgba(0, 0, 0, 0.25);"></div>
        <p>🔥 Created <strong>by</strong> Victor Krenzel. &copy; <em class="text-danger">2022</em> 🔥</p>
        <div class="col-auto p-4 text-center">
            <i class="fa-brands fa-github fa-lg px-2"></i>
            <i class="fa-brands fa-codepen fa-lg px-2"></i>
            <i class="fa-brands fa-linkedin fa-lg px-2"></i>
        </div>
    </div>
</ul>
{{!-- Footer End --}}
<script>
    // Navbar Scrolling
    var prevScrollpos = window.pageYOffset
    window.onscroll = () => {
    var currentScrollPos = window.pageYOffset
    if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar").style.top = "0"
    } else {
        document.getElementById("navbar").style.top = "-80px"
    }
    prevScrollpos = currentScrollPos
    }
</script>
</body>
</html>