<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>@{{username}}'s Dashboard</title>
</head>
<style>
:root {
    --btn-gradient: linear-gradient(to right, #25aae1, #40e495, #25aae1);
    --bg-gradient: linear-gradient(45deg, #FDB99B, #ffff1c, #67b26f, #4ca2cd, #3B4371, #2F0743);
}

* {
    box-sizing: border-box;
}

#background {
    width: 100vw !important;
    height: 100vh !important;
    background-color: #EBEBEB;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crop img {
    height: 100%;
    width: auto;
}
</style>
<body>
    <div class="container-fluid d-flex justify-content-center align-items-center" id="background">
        {{#if username}}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <div class="crop card-images">
                        <img src="{{pfpURL}}" alt="...">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-primary" style="text-transform:uppercase">{{username}}</h5>
                        <p class="card-text">
                            <p class="text-muted">Email: <strong class="text-danger">{{email}}</strong></p>
                            {{#if phoneNumber}}<p class="text-muted">Phone Number: <strong class="text-danger">{{phoneNumber}}</strong></p>{{/if}}
                            <p class="text-muted">Company: <strong class="text-danger">{{companyName}}</strong></p>
                            <p class="text-muted">Located In: <strong class="text-danger">{{city}}, {{country}}</strong></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>

    {{!-- <div class="container mt-4" align="center">
        {{#if username}}
        <div class="container" style="width:40rem">
            <div class="row">
                <div class="col">
                    <img class="card-img-left float-left" width="200px" height="200px" src="{{pfpURL}}" alt="{{username}}'s profile picture">
                    <h5 class="card-title float-right text-primary" style="text-transform:uppercase">{{username}}</h5>
                </div>
                <div class="col">
                    <p class="card-text">
                        <p class="text-muted">Email: <strong class="text-danger">{{email}}</strong></p>
                        {{#if phoneNumber}}<p class="text-muted">Phone Number: <strong class="text-danger">{{phoneNumber}}</strong></p>{{/if}}
                        <p class="text-muted">Company: <strong class="text-danger">{{companyName}}</strong></p>
                        <p class="text-muted">Located In: <strong class="text-danger">{{city}}, {{country}}</strong></p>
                    </p>
                    <a href="/user/login" class="btn btn-primary">Log Out</a>
                </div>
            </div>
        </div> --}}

            {{!-- <img src="{{pfpURL}}" class="rounded-circle mb-3 border" alt="{{username}}'s profile picture" width="200px" height="200px"> --}}
            {{!-- <p class="text-muted">Hello, <strong class="text-primary">{{username}}</strong> Welcome to your dashboard!</p> --}}
        {{!-- {{/if}}
        {{#else}}
            <p class="text-muted">Bro, who are u?</p>
        {{/else}}    
        </div> --}}
    
</body>
</html>